{% extends 'gymapp/NavBar/base.htm' %}
 

{% block content %}
<center>
<h1 class="text-warning" >Upload Course</h1>
<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <table class = 'table table-dark table-borderless' style="background-color:#000000;color:#FFFF99;">
        {% for t1field in form1 %}
        <tr>
            <th>{{t1field.label}}</th>
            <td>{{ t1field }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit"  class="btn btn-lg btn-warning ">Submit</button>
</form>   
</center>
{% endblock %}
