{% extends 'gymapp/NavBar/base.htm'%}
{% load static %}

{% block content %}
<!-- {% if request.user.is_authenticated %}
Welcome {{user}}
{% else %}
   Unauthorized
{% endif %} -->

<center>
  <section class="Six">
    <div class="container">
      <a href="{% url 'trainer' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Register Trainer  </a>
      <a href="{% url 'members' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Register Premium Member  </a>
    </div>               
</section>  
</center>
{% endblock %}