<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    {% include 'gymapp/NavBar/navbar.htm' %}

    <style>
    .mercury{

        color: white;
        background-color:green;
        font-family: cursive;
        font-size: 18px;

    }

    </style>

</head>
<body>

{% block content%}

{% endblock %}

<footer class="mercury">
Nepal Fitness Gym, Copyright &copy; 2020.<b> Authorized to Leo Freddie. </b>
{% block footer%}

{% endblock %}   

</footer>
 

</body>
</html>