{% extends 'gymapp/NavBar/base.htm'%}
{% load static %}

  {% block content %}
        <section class="Home">
          <div class="sk">
            <img src='{% static "image/gymLogo.png" %}' alt="My image"/>
          </div>
            <div class="container">
          <h1><strong>  The Real Workout Starts
              <span>When You Want To Stop..</strong> </span>
          </h1>
                     </div>
            </section>
            <div class="container">
              <section class="home-about">
                <div class="home-about-textbox">
                  <h1>What We Do</h1>
                  <p>
                    <strong>We provide  membership to our members especially for
                      those who don't have enough time to come at gym also provide 24/7 support
                      with our customer care. Also memebers can get different service
                    according to their membership plan this choosed. </strong>
                  </p>
  
                </div>
              </section>
       </div>

   

{% endblock %} 
   
{% block footer %}
 
{% endblock%} 
